.profile {
	display: flex;
	width: 85%;
	.first_column {
		display: flex;
		flex-direction: column;
		width: 30%;
		margin: 3%;
		.profile_ava {
			h2 {
				margin-left: 12%;
				margin-bottom: 2%;
				font-size: 30px;
			}
			img {
				width: 70%;
			}
		}
		.profile_information {
			margin-top: 15%;
			h2 {
				font-size: 25px;
				line-height: 150%;
			}
			p {
				font-size: 15px;
				line-height: 150%;
			}
		}
	}
	.second_column {
		display: flex;
		flex-direction: column;
		width: 50%;
		float: right;
		margin-top: 3%;
		.profile_projects {
			display: flex;
			flex-direction: column;
			.profile_projects_mainText {
				font-size: 30px;
				margin-left: 32%;
				margin-bottom: 5%;
			}
			.profile_projects_images {
				display: flex;
				img {
					width: 50%;
					margin-right: 10%;
				}
			}
		}

		.profile_posts {
			margin-top: 10%;
			input {
				border: 1px solid black;
			}

			h2 {
				font-size: 30px;
				margin-left: 32%;
			}
		}
	}
}